<div class="nav">
  <h3 class="nav-title">Menu</h3>
  <a href="#" class="nav-close">
    <span class="hidden"></span>
  </a>
  <ul>
    <li class="nav-home nav-current" role="presentation"><a href="https://wineway.github.io/">Home</a></li>
    <li class="nav-about" role="presentation"><a href="https://wineway.github.io/about/">About</a></li>
    <li class="nav-fables" role="presentation"><a href="https://wineway.github.io/tag/fables/">Fables</a></li>
    <li class="nav-speeches" role="presentation"><a href="https://wineway.github.io/tag/speeches/">Speeches</a></li>
    <li class="nav-start-a-blog" role="presentation"><a href="https://wineway.github.org">Start a Blog</a></li>
  </ul>
  <a class="subscribe-button" href="http://demo.ghost.io/subscribe/">Subscribe</a>
</div>

<span class="nav-cover"></span>
